<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" href="librarys/materialize-v1.0.0-beta/materialize/css/materialize.css" rel="stylesheet" media="screen,projection"/>
	<title>Granero pague menos</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<main>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Granero Pague Menos</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">productos</a></li>
            <li><a href="pages/ventas.html">ventas</a></li>
            <li><a href="pages/inventarios.html">inventario</a></li>
          </ul>
        </div>
      </nav>
      <article class="container">
        <section class="row">
        <div class="card-panel teal lighten-2"><h2 class="white-text">Productos</h2></div>
          <form @submit.prevent id="productos">
            <div class="input-field col s6">
              <input v-model="frmProducto.cod_producto" type="text" placeholder="codigo producto" name="cod_producto" class="validate"> 
            </div>
            <div class="input-field col s6">
                <input v-model="frmProducto.nombre_producto" type="text" placeholder="nombre del producto" name="nombre_prod" class="validate"> 
            </div>
            <div class="input-field col s6">
              <select name="unidad" v-model="frmProducto.unidad">
                <option value="" selected>Seleccione</option>
                <option v-for="unidad in unidades" :value="unidad.unidad">
                  {{unidad.unidad}}
                </option>
              </select>
              <label>unidad de medida</label>
            </div> 
            <div class="input-field col s6">
                <input v-model="frmProducto.valor_producto" type="text" placeholder="valor" name="valor" class="validate">  
            </div>
            <div class="input-field col s6">
                <input v-model="frmProducto.fecha_vencimiento" type="text" placeholder="fecha de vencimiento" name="fecha" class="validate datepicker">  
            </div>
            <button class="waves-effect waves-light btn-large" type="submit" @click="actionProd('crear')" v-if="acciones == 'crear' || acciones == 'eliminar'">Guardar</button>
            <button class="waves-effect waves-light btn-large" type="submit" @click="actionProd('editar')" v-else="acciones == 'editar' || acciones == 'eliminar'">Modificar</button>
            <button class="waves-effect waves-light btn-large" type="reset" @click="frmProducto = {}">Limpiar</button>
          </form>
        </section>
        <section class="row">
          <a class="waves-effect waves-light btn-small blue" @click="searchProd">Buscar</a>
          <table>
            <thead>
              <tr>
                <th>Cod. producto</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>unidad de medida</th>
                <th>valor</th>
                <th>fecha de vencimiento</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="producto in productos" :key="producto.id_producto">
                <td>{{producto.cod_producto}}</td>
                <td>{{producto.nombre_producto}}</td>
                <td>{{producto.cantidad}}</td>
                <td>{{producto.unidad}}</td>
                <td>{{producto.valor_producto}}</td>
                <td>{{producto.fecha_vencimiento}}</td>
                <td><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" @click="getProducto(producto)">edit</i></a></td>
                <td><a class="btn-floating btn-large waves-effect waves-light red modal-trigger"  href="#modal1"><i class="material-icons" @click="getProducto(producto.id_producto)">delete</i></a></td>
              </tr>
            </tbody>
          </table>
        </section>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Eliminar producto</h4>
            <p>Esta seguro de eliminar el producto?</p>
          </div>
          <div class="modal-footer">
            <a class="btn-floating modal-close waves-effect waves-light red"><i class="material-icons" @click="actionProd('eliminar')">check</i></a>
            <a class="btn-floating modal-close waves-effect waves-light red" id="cerrar"><i class="material-icons">close</i></a>
          </div>
        </div>
  </main>
<script src="app/app.js"></script>
<script src="librarys/materialize-v1.0.0-beta/materialize/js/materialize.min.js"></script>
</body>
</html>