<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" href="../librarys/materialize-v1.0.0-beta/materialize/css/materialize.css" rel="stylesheet" media="screen,projection"/>
    <title>Inventario</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <main>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Granero Pague Menos</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="../index.html">productos</a></li>
            <li><a href="ventas.html">ventas</a></li>
            <li><a href="#">inventario</a></li>
          </ul>
        </div>
      </nav>
      <article class="container">
        <section class="row">
        <div class="card-panel teal lighten-2"><h2 class="white-text">Inventario</h2></div>
          <form @submit.prevent id="inventarios">
            <div class="input-field col s6">
              <select name="producto" v-model="frmInven.id_producto">
                <option value="" selected>Seleccione</option>
                <option v-for="producto in selProds" :value="producto.id_producto">
                  {{producto.nombre_producto}}
                </option>
              </select>
              <label>producto</label>
            </div>     
            <div class="input-field col s6">
                <input v-model="frmInven.cant_inventario" type="text" placeholder="cantidad" name="cantidad_inventario" class="validate"> 
            </div>        
            <div class="input-field col s6">
                <input v-model="frmInven.fecha_inventario" type="text" placeholder="fecha del inventario" name="fecha_inventario" class="validate datepicker"> 
            </div>
            <button class="waves-effect waves-light btn-large" type="submit" @click="actionInv('crear')" v-if="acciones == 'crear'">Guardar</button>
            <button class="waves-effect waves-light btn-large" type="submit" @click="actionInv('editar')" v-else="acciones == 'editar'">Modificar</button>
            <button class="waves-effect waves-light btn-large" type="reset" @click="frmInven = {}">Limpiar</button>
          </form>
        </section>
        <section class="row">
        <a class="waves-effect waves-light btn-small blue" @click="searchInv">Buscar</a>
          <table>
            <thead>
              <tr>
                <th>producto</th>
                <th>cantidad</th>
                <th>fecha</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="inventario in inventarios" :key="inventario.id_inventario">
                <td>{{inventario.nombre_producto}}</td>
                <td>{{inventario.cant_inventario}}</td>
                <td>{{inventario.fecha_inventario}}</td>
                <td><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" @click="getInventario(inventario)">edit</i></a></td>
              </tr>
            </tbody>
          </table>
        </section>
      </article>
      <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Eliminar inventario</h4>
            <p>Esta seguro de eliminar el inventario?</p>
          </div>
          <div class="modal-footer">
            <a class="btn-floating modal-close waves-effect waves-light red"><i class="material-icons" @click="actionInv('eliminar')">check</i></a>
            <a class="btn-floating modal-close waves-effect waves-light red" id="cerrar"><i class="material-icons">close</i></a>
          </div>
        </div>
  </main>
  <script src="../app/app.js"></script>
  <script src="../librarys/materialize-v1.0.0-beta/materialize/js/materialize.min.js"></script>
</body>
</html>