<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" href="../librarys/materialize-v1.0.0-beta/materialize/css/materialize.css" rel="stylesheet" media="screen,projection"/>
    <title>ventas</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <main>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Granero Pague Menos</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="../index.html">productos</a></li>
            <li><a href="ventas.html">ventas</a></li>
            <li><a href="inventarios.html">inventario</a></li>
          </ul>
        </div>
      </nav>
      <article class="container">
        <section class="row">
        <div class="card-panel teal lighten-2"><h2 class="white-text">Ventas</h2></div>
          <form @submit.prevent id="ventas">
            <div class="input-field col s6">
              <input v-model="frmVenta.nro_factura" type="text" placeholder="nro_factura" name="nro_factura" class="validate"> 
            </div>
            <div class="input-field col s6">
              <select name="producto" v-model="frmVenta.id_producto">
                <option value="">Seleccione</option>
                <option v-for="producto in selProds" :value="producto.id_producto">
                  {{producto.nombre_producto}}->{{producto.unidad}}
                </option>
              </select>
              <label>producto</label>
            </div>     
            <div class="input-field col s6">
                <input v-model="frmVenta.cantidad" type="text" placeholder="cantidad" name="cantidad" class="validate"> 
            </div>
            <div class="input-field col s6">
                <input v-model="frmVenta.fecha_venta" type="text" placeholder="fecha de la venta" name="fecha_venta" class="validate datepicker"> 
            </div>
            <button class="waves-effect waves-light btn-large" type="submit" @click="actionVent('crear')" v-if="acciones == 'crear'">Guardar</button>
            <button class="waves-effect waves-light btn-large" type="submit" @click="actionVent('editar')" v-else="acciones == 'editar'">Modificar</button>
            <button class="waves-effect waves-light btn-large" type="reset" @click="frmVenta = {}">Limpiar</button>
          </form>
        </section>
        <section class="row">
        <a class="waves-effect waves-light btn-small blue" @click="searchVent">Buscar</a>
          <table>
            <thead>
              <tr>
                <th>nro_factura</th>
                <th>fecha de la venta</th>
                <th>producto</th>
                <th>cantidad</th>
                <th>valor</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="venta in ventas">
                <td>{{venta.nro_factura}}</td>
                <td>{{venta.fecha_venta}}</td>
                <td>{{venta.nombre_producto}}</td>
                <td>{{venta.cantidad}}</td>
                <td>{{venta.valor_producto}}</td>
                <td><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" @click="getVentas(venta)">edit</i></a></td>
              </tr>
            </tbody>
          </table>
        </section>
      </article>
  </main>
  <script src="../app/app.js"></script>
  <script src="../librarys/materialize-v1.0.0-beta/materialize/js/materialize.min.js"></script>
</body>
</html>